#welcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
}


#welcome span{
    font-size: bold;
    text-transform: capitalize;
    color: red;
}


#welcome p{
    margin-top: 2.9rem;
    margin-bottom: -5rem;
    font-size: 1.5rem;
}

#welcome span{
    color: red;
    font-size: 1.5rem;
}

#welcome button{
    align-self: center;
}
