.App{
  text-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1{
  margin-bottom: 2rem;
}

#pontuacao {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background: rgb(70, 69, 69);
  align-items: center;
  border-radius: 25px;
  border: 2px solid rgb(59, 59, 59);
  transform: translate(14%, -55%);
  font-size: 22px;
}


.App footer {
  position: fixed;
  margin-top: 65rem;
  letter-spacing: 2px;
  font-size: 20px;
}

.App footer span{
  color: rgb(104, 255, 210);
}
