*{
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  color: #fff;
}

body, html {
  min-height: 100vh;
  height: 100%;
  background-color: #606061;
}

img {
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: rgba(248, 117, 117, 0.829);
  border-radius: 1rem;
  border: none;
  transition: transform .4s;
  color: #fff;
}

button:hover{
  transform: scale(1.1);
  background:rgba(199, 62, 62, 0.829);
}

span {
  color: red;
}